[submodule "tree-sitter"]
	path = tree-sitter
	url = https://github.com/tree-sitter/tree-sitter.git
[submodule "tree-sitter-erlang"]
	path = tree-sitter-erlang
	url = https://github.com/WhatsApp/tree-sitter-erlang.git
[submodule "tree-sitter-langs/tree-sitter-erlang"]
	path = tree-sitter-langs/tree-sitter-erlang
	url = https://github.com/WhatsApp/tree-sitter-erlang.git
