{erl_opts, [debug_info]}.
{deps, []}.

{ct_opts, [
    {dir, "test"},
    {logdir, "logs"}
]}.

{pre_hooks,
 [{"(linux|darwin|solaris)", compile, "git submodule update --init && make"},
  {"(freebsd)", compile, "git submodule update --init && gmake"}]}.
{post_hooks,
 [{"(linux|darwin|solaris)", clean, "make clean"},
  {"(freebsd)", clean, "gmake clean"}]}.
